* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --second-color: #ffb900;
    --second-font: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* ------COMMON------- */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 137px;
    padding: 0px 18px;
    line-height: 50px;
    background: var(--primary-color);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
    text-decoration: underline;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

.break-all {
    word-wrap: break-word;
}

/* ------HEADER------- */
.header {
    position: sticky;
    top: -30px;
    z-index: 1;
    background: #fffcf4;
    padding: 36px 0px 6px;
}

.header .body {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
    /* kéo ae sau nó sang phải */
}

.navbar ul {
    display: flex;
    /* margin-left: 491px; */
}

.navbar ul a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
    position: relative;
}

.navbar ul a:hover {
    color: #171100;
    /* font-weight: 600; */
    /* bị giật đẩy nội dung xung quanh  và cách khắc phục*/
    text-shadow: 1px 0 0 currentColor;
}
.navbar ul a:hover::before {
    content: "";
    width: 12px;
    height: 2px;
    display: inline-block;
    position: absolute;
    background-color: #171100;
    bottom: 6px;
    margin-left: 1px;
    border-radius: 1px;
}

.header .action-btn {
    min-width: 144px;
    margin-left: 49px;
    /* margin-left: auto; */
}

/* -------------HERO------------- */

.hero {
    background: #fffcf4;
}
.hero .body {
    display: flex;
    padding-top: 58px;
    padding-bottom: 65px;
}

.hero .img-block {
    width: 48%;
    position: relative;
}

.hero .img-block .image {
    display: block;
    /* hoặc dùng vertical-align: bottom; */
    margin-left: 0;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.img-block .courses-box {
    position: absolute;
    bottom: 48px;
    right: 0px;
    width: 270px;
    /* height: 244px; */
    /* không đặt chiều cao sau này thêm bớt item nó tự thích nghi */
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.img-block .courses-box .item {
    display: flex;
    align-items: center;
    gap: 16px;
    /* margin-top: 14px; */
}

.img-block .courses-box .item + .item {
    margin-top: 22px;
}

.courses-box .item .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses-box .item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .info {
    width: 52%;
    /* margin-left: 130px; dùng margin thì đẩy qua phải->sai kt */
    padding: 64px 0 0 125px;
}

.hero .info .title {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .info .desc {
    margin-top: 22px;
    /* sau này thêm gì vào p sẽ ko bị dính */
    font-size: 1.85rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .info .row {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .info .hero-btn {
    min-width: 180px;
    /* padding: 24px 18px; tạo chiều cao nút bằng line-height*/
    line-height: 64px;
    background: var(--second-color);
}

.hero .watch-video {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    margin-left: 28px;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: inline-block;
    margin-left: 10px;
    margin-bottom: -13px; */
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .desc.stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    padding-right: 12px;
    margin-left: 28px;
}

/* -------------COURSES------------- */

.courses {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-hearder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-hearder .sub-title {
    font-family: var(--second-color);
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    line-height: 1.26;
    color: #171100;
}

.popular-hearder .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    width: 458px;
    margin-top: 16px;
}

.popular-hearder .control {
    display: flex;
    gap: 18px;
}

.popular-hearder .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    background: transparent;
}

.popular-hearder .control-btn:hover {
    color: #ffffff;
    background: var(--second-color);
    cursor: pointer;
}

.courses .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .list-item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.courses .list-item:hover {
    /* border: none; gây hiện tượng giật */
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.courses .list-item .thumb {
    /* width: 100%;  */
    /* giải quyết border của list ko sát ảnh*/
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses .body {
    padding: 16px 22px 22px;
}

.courses .body .row,
.courses .body .rating,
.courses .list-item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .list-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.courses .list-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.courses .list-item .info {
    margin-top: 12px;
}

.courses .list-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.courses .list-item .cta-btn {
    background: var(--primary-color);
    min-width: 118px;
}

.courses .list-item .cta-btn:hover {
    background: var(--second-color);
}

/* -------------COMMENT-QUOTES------------- */

.comment-quotes {
    background: #2e2100;
    margin-top: 135px;
    padding: 96px 0;
}

.quotes-list {
    display: flex;
    overflow: hidden;
}

.comment-quotes .quotes-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.quotes-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.quotes-item .info .name {
    margin-top: 18px;
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.quotes-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 2.6;
    color: #bfbcb3;
}

.quotes-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.quotes-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.quotes-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.quotes-item .desc-quote {
    width: 66%;
}

.quotes-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* -------------LEARNING OUTCOMES------------- */

.learning-outcomes .report {
    display: flex;
    margin-top: 200px;
    align-items: center;
}

.report .img-block,
.report .body {
    width: 50%;
}

.report .img-block {
    display: flex;
    gap: 30px;
    height: 438px;
    border-radius: 16px;
}

.report .img-block .image {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.report .img-block .image-1 {
    align-self: flex-end;
}

.report .body {
    margin-left: 117px;
    padding: 58px 0;
}

.report .body .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.report .body .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.report .body .btn {
    margin-top: 32px;
    background: var(--second-color);
}

/* -------------JOIN-LESSON------------- */

.join-lesson .lesson {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lesson .body {
    width: 50%;
    padding: 71px 0;
}

.lesson .body .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.lesson .body .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.lesson .body .btn {
    margin-top: 32px;
    background: var(--second-color);
}

.lesson .image {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* -------------OUR-BLOG------------- */

.our-blog {
    background: #fffcf4;
}
.our-blog .blog {
    margin-top: 200px;
    padding: 96px 0;
}

.our-blog .blog .row {
    width: 39%;
    margin: auto;
    text-align: center;
}

.our-blog .blog .sub-title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #130606;
}

.our-blog .blog .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.our-blog .list {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.our-blog .list-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.our-blog .list-item .thumb {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.our-blog .list-item .info {
    padding: 20px 20px 28px;
}

.our-blog .list span {
    position: relative;
    font-weight: 400;
    font-size: 1.4rem;
    color: #5f5b53;
    margin-left: 10px;
}

.our-blog .list span::before {
    position: absolute;
    top: 7px;
    margin-left: -10px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.our-blog .list .title {
    margin-top: 25px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.our-blog .list .btn {
    margin-top: 12px;
    padding: 18px 18px;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
}

.our-blog .list .btn:hover {
    background: var(--second-color);
}

.our-blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

/* -------------FOOTER------------- */

footer {
    padding: 96px 0 28px;
    background: #2e2100;
}

footer .footer .body {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .info {
    width: 23%;
}

.footer .info .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .info .row {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

.footer .column {
    margin-left: 145px;
    display: flex;
    gap: 130px;
    justify-content: space-between;
}

.footer .column .list:not(:last-child) {
    min-width: 18%;
}

.footer .column .title {
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    position: relative;
}

.footer .column .title::before {
    position: absolute;
    bottom: -14px;
    left: 0;
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .column .list-item {
    margin-top: 43px;
}

.footer .column .list-item li,
.footer .column .list-item a {
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.86;
    font-size: 1.4rem;
    color: #bfbcb2;
}

.footer .column .list-item span {
    font-weight: 600;
}

.footer .copyright {
    margin-top: 28px;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    color: #807d74;
}
